Este es un proyecto que en base a las definiciones de vivienda digna en Mexico, con una base del INEGI se definio cuantas y cuales son cosideradas dignas en CDMX

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('BaseDatosSimplificada.csv')
df

,Unnamed: 0,FOLIO,VIV_SEL,P1_1,P4_3,P4_4,P4_5,P4_6,P4_10,P4_10A,P4_12,P4_13,P4_14,P4_15,P4_17,P4_19_1,P4_20_1,P4_21_1,P5_1,P6_5_1
0,0,1,1,3,1,8,10,3,2,4,1.0,1,1.0,1,1,45,160,120,5,1
1,1,1,2,3,1,8,10,3,2,5,1.0,1,1.0,1,1,44,160,160,5,3
2,2,1,3,1,1,8,10,3,2,5,1.0,1,1.0,1,1,50,160,100,1,1
3,3,1,4,8,1,8,10,3,3,5,1.0,1,1.0,1,1,99,200,999,1,2
4,4,1,5,3,1,8,10,3,5,8,1.0,1,1.0,1,1,40,242,300,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55142,55142,8301,1,4,1,8,10,3,2,4,1.0,1,1.0,1,1,1,999,40,4,2
55143,55143,8301,2,4,1,8,10,2,2,3,1.0,1,1.0,1,1,1,999,60,4,2
55144,55144,8301,3,3,1,8,10,2,1,3,1.0,1,3.0,1,1,1,300,200,4,2
55145,55145,8301,4,2,1,8,10,2,2,3,1.0,1,1.0,1,1,1,85,65,4,2
55146,55146,8301,5,5,1,8,10,2,2,3,1.0,1,1.0,1,1,1,105,95,4,2

In [8]:
def clasificar_fila(row):
    # Condiciones para que la vivienda sea considerada digna
    personas_por_cuarto = row['P1_1'] / row['P4_10'] <= 4
    tipo_de_vivienda = row['P4_3'] == 1 or 3 or 4 or 5
    material_paredes = row['P4_4'] >= 6
    material_techo = row['P4_5'] >= 6
    material_piso = row['P4_6'] >= 2
    cuartos_totales = row['P4_10A'] >= 6
    servicio_sanitario = row['P4_12'] == 1
    acceso_agua_llaves = row['P4_13'] == 1
    acceso_agua_entubada = row['P4_14'] == 1
    drenaje = row['P4_15'] == 1 or 2
    combustible_alimentos = row['P4_17'] == 1 or 3
    tiempo_construccion = row['P4_19_1'] <= 45
    metros_terreno = row['P4_20_1'] >= 75
    metros_construccion= (row['P4_21_1'] >= 28) & (row['P4_21_1'] <= 996)
    propietario_vivienda = row['P5_1'] == 1 or 4 or 5 or 6                                     
    
    if personas_por_cuarto and tipo_de_vivienda and material_paredes and material_techo and material_piso and cuartos_totales and servicio_sanitario and acceso_agua_llaves and acceso_agua_entubada and drenaje and combustible_alimentos and tiempo_construccion and metros_construccion and metros_terreno and propietario_vivienda:
        return 'Digna'
    else:
        return 'No digna'

# Aplica la función de clasificación a cada fila del DataFrame
df['clasificacion'] = df.apply(clasificar_fila, axis=1)

# Muestra las primeras filas con la clasificación
print(df)

   Unnamed: 0  FOLIO  VIV_SEL  P1_1  P4_3  P4_4  P4_5  P4_6  P4_10  P4_10A  \
0           0      1        1     3     1     8    10     3      2       4
1           1      1        2     3     1     8    10     3      2       5
2           2      1        3     1     1     8    10     3      2       5
3           3      1        4     8     1     8    10     3      3       5
4           4      1        5     3     1     8    10     3      5       8

   ...  P4_13  P4_14  P4_15  P4_17  P4_19_1  P4_20_1  P4_21_1  P5_1  P6_5_1  \
0  ...      1    1.0      1      1       45      160      120     5       1
1  ...      1    1.0      1      1       44      160      160     5       3
2  ...      1    1.0      1      1       50      160      100     1       1
3  ...      1    1.0      1      1       99      200      999     1       2
4  ...      1    1.0      1      1       40      242      300     5       2

   clasificacion
0       No digna
1       No digna
2       No digna
3       No digna
4          Digna

[5 rows x 21 columns]

In [9]:
# Si deseas guardar el resultado en un archivo CSV
df.to_csv('viviendas_clasificadas.csv', index=False)